<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">naitik</property>
    <property name="hibernate.jdbc.batch_size">10</property>
    
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
    <mapping class="models.Users"/>
    <mapping class="models.Teacher"/>
    <mapping class="models.Course"/>
    <mapping class="models.Student"/>
    <mapping class="models.StudentCourse"/>
    
  </session-factory>
</hibernate-configuration>
